.form {
  font-family: 'Rubik', sans-serif;
  display: flex;
  flex-direction: column;
}

select, input, button, textArea {
  font-family: inherit;
}

.type, .date, .time {
  width: 200px;
}

.text {
  width: 300px;
}